/* AvailableHalls.css */

.text-light-blue {
  color: #1e2d54; /* Light blue color */
}
.card {
  border-color: white; /* Set border color to white */
}
.serif {
  font-family: serif; /* Apply serif font family */
}
.hover-bg-light-blue:hover {
  background-color: #eef2fc; /* Baby blue color */
}
.btn-primary {
  background-color:#006cE4;
  border-color: none;
  color: white;
}

.btn-primary:hover {
  background-color:gray;
}
.btn-secondary {
  background-color: #87CEEB; /* Baby blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Round */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s; /* Smooth transition */
}

.btn-secondary:hover {
  background-color: #4682B4; /* Darker shade of baby blue on hover */
}
/* Custom CSS for EditHall component */
.input-group-text {
  background-color: white; /* Lighter background color */
}

.input-group-text:hover {
  background-color: #bee1e6; /* Darker background color on hover */
}

.form-control {
  border-radius: 20px; /* Make input fields more rounded */
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
}

.form-control:hover {
  background-color: #e9ecef; /* Darken background color on hover */


}
.btn-save-changes {
  border-radius: 50px; /* Super round */
  font-size: 18px; /* Larger font size */
  padding: 12px 24px; /* Larger padding */
  background-color: #003f5c; /* Baby blue */
  color: white; /* Black text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.btn-save-changes:hover {
  background-color: black; /* Black on hover */
  color: #add8e6; /* Baby blue text on hover */
}
.textarea-input {
  background-color: white; /* Slightly darker white */
}

.textarea-input:hover {
  background-color: #e0e0e0; /* Lighter than hover */
}


.hall-image:hover {
  transform: scale(1.1);
}
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}
.bg-white {
  background-color: #ffffff; /* Set background color to white */
}

.bg-light {
  background-color: #f8f9fa; /* Set background color to a darker white */
}

@media (max-width: 576px) {
  .toast-container {
    top: 3rem;
    right: 1rem;
  }
}